.header-flex-container{
  display: flex;
  justify-content: center;
}

.header-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 120px;
  align-items: center;
  background-color: rgb(70, 24, 172);
  border: none;
  max-width: 1500px;
}

@media (min-width: 1600px) {
  .header-container {
    width: 75vw;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.logo{
  width: 200px;
}

.flag-img{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.language-text{
  color: white;
  text-align: center;
  margin-left: 10px;
}

.profile-photo-container {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  flex-shrink: 0;
}

.profile-photo-container img {
  width: 35px !important;
  height: 35px !important;
}

.profile-photo{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.center-container{
  display: flex;
  flex: 1;
  height: 90;
  margin: 0px 15px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 0px 12px;
  max-width: 700px;
  align-items: center;
}

.search-bar{
  padding: 20px 10px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

.close-icon-button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

input::placeholder{
  color: white;
}

.right-container{
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 20px;
  min-width: 400px;
}

.right-container-1{
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;
}

.right-container-2{
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}



